@page "/transactions"

@using DataLibrary
@using CommerceBlazorServer.Models
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config


<body>
    <div>
<PageTitle>Transactions</PageTitle>
<br  />
<label> Current Balance: <var>5000</var></label>
<br  />

@if (people == null)
{
    <p>…Loading</p>
}
else
{
    <table>
    @foreach (var p in people)
    {
        <tr>
            
            <th>@p.account_id </th>
            <th>@p.processing_date </th>
            <th>@p.balance @p.type </th>
            <th>@p.amount </th>
            <th>@p.location </th>
            <th>@p.description</th>
        </tr>
    }
    </table>
}

@code {
    List<PersonModel> people;
    protected override async Task OnInitializedAsync()
    {
        string sql = "SELECT * FROM transactions;";

        people = await _data.LoadData<PersonModel, dynamic>(sql, new {}, _config.GetConnectionString("default"));
    }
}

</div>
</body>


